<!-- Create Group Content -->
<div id="create-match" data-bind="visible: selectedPage() == 'create' ">
    <div class="content">
        <div id="create-match-inner" data-bind="submit: createGroup.bind($data, '{{ session.username }}')">
            <form id="create-match-form">
                <h4 class="title">Create a Group</h4>
                <hr />
                <div class="row">
                    <div class="form-horizontal span5">
                        <h4>Group Settings</h4>
                        <div class="control-group">
                            <label class="control-label" for="input-game">Game</label>
                            <div class="controls">
                                <select id="input-game" name="game">
                                    <option value="dayzmod">DayZ Mod (Vanilla)</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input-size">Group Size</label>
                            <div class="controls">
                                <input type="text" class="span1" id="input-size" value="4" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="play-style">Play Style</label>
                            <div class="controls">
                                <select id="play-style" name="playstyle">
                                    <option value="survivor">Survivor</option>
                                    <option value="bandit">Bandit</option>
                                    <option value="open">Open</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input-title">Title</label>
                            <div class="controls">
                                <input type="text" id="input-title" placeholder="Enter a short description" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input-description">Description</label>
                            <div class="controls">
                                <textarea id="input-description" rows="3" placeholder="Enter a full description here and additional details" name="description" required></textarea>
                            </div>
                        </div>

                        <h4>Server Information</h4>
                        <div class="control-group">
                            <label class="control-label" for="server-address">Server Address & Port</label>
                            <div class="controls">
                                <input type="text" id="server-address" placeholder="address[:port]">
                            </div>
                        </div>

                        <span id="create-error" class="text-error"></span>
                    </div>
                    <div class="form-horizontal span6">
                        <h4>Requirements</h4>
                        <div class="control-group">
                            <label class="control-label" for="input-experience">Experience</label>
                            <div class="controls">
                                <select id="input-experience" class="span2" name="experience">
                                    <option value="Any">Any</option>
                                    <option value="Noob">Noob</option>
                                    <option value="Intermediate">Intermediate</option>
                                    <option value="Elite">Elite</option>
                                </select>
                            </div>
                        </div>
                        <h4>Optional Settings</h4>
                        <div class="control-group">
                            <label class="control-label" for="voip-type">VOIP Server Address & Port</label>
                            <div class="controls">
                                <select id="voip-type" class="span2" name="voip">
                                    <option value="None">None</option>
                                    <option value="Teamspeak">TeamSpeak</option>
                                    <option value="Mumble">Mumble</option>
                                    <option value="Ventrilo">Ventrilo</option>
                                </select>
                                <input type="text" id="voip-address" placeholder="address[:port]">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="voip-password">VOIP Password</label>
                            <div class="controls">
                                <input type="text" id="voip-password" placeholder="Enter a password or leave blank if none">
                            </div>
                        </div>
                        <hr />
                        <label class="checkbox">
                          <input type="checkbox" data-bind="checked: passwordProtectCheckbox">
                          Would you like to password-protect this group?
                        </label>
                        <br />
                        <div class="control-group" data-bind="visible: passwordProtectCheckbox">
                            <label class="control-label" for="group-password">Enter Password</label>
                            <div class="controls">
                                <input type="text" id="group-password" placeholder="Enter a password or leave blank if none">
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success pull-right">Submit</button>
                <br />
            </form>
        </div>
    </div>
</div>

{{#yield-scripts}}
    <script src="/js/create.js" type="text/javascript"></script>
{{/yield-scripts}}
