<!-- Group Content -->
<div id="view-match" class="container-fluid" data-bind="visible: selectedPage() == 'group' ">
    <div class="content row-fluid">
        <div id="view-match-inner" class="pull-left span8">
            <div class="tabbable tabs-below">
                <div class="tab-content">
                    <h4 class="title">Group</h4>
                    <div id="alert-area"></div>
                    <div id="match-chat" class="tab-pane active" data-bind="with: selectedData">
                        <div id="match-chat-text">
                            <div id="messages"></div>
                            <form data-bind="submit: $root.sendMessage" method="POST">
                                <input id="chat-message" class="input-block-level" type="text" placeholder="M'ask you somethin'..." />
                                <input id="room" type="hidden" data-bind="value: id" />
                                <button id="send-button" class="btn pull-right">Send</button>
                            </form>
                        </div>
                    </div>
                    <div id="map-tab" class="tab-pane">
                        <div id="map" style="height: 100%; width: 100%;"></div><!-- Leaflet -->
                    </div>
                </div>
                <ul class="nav nav-pills">
                    <li class="active"><a href="#match-chat" data-toggle="tab">Chat</a></li>
                    <li><a href="#map-tab" data-toggle="tab" id="tab-hack">Map</a></li>
                </ul>
            </div>
        </div>
        <div id="right-column" class="span4" data-bind="css: {fadeIn: selectedData}" style="opacity: 0;">
            <div id="infobox" data-bind="with: selectedData">
                <h4><span class="desc-type" data-bind="text: details.requirements.playstyle"></span><span data-bind="text: title"></span></h4>
                <h6 data-bind="text: 'Created by&nbsp;' + creator + '&nbsp;' + date"></h6>

                <button class="btn btn-small btn-danger" data-bind="click: $root.leaveGroup">Leave Group</button>
                <button class="btn btn-small btn-info" data-bind="visible: creator === user, click: $root.editGroup">Edit</button>
                <hr />

                <div id="url" class="input-prepend" data-bind="tooltip: { title: 'Share this page!', placement: 'left' }">
                    <span class="add-on"><i class="icon-link"></i></span>
                    <input class="share-url span11" type="text" data-bind="attr: { value: 'http://portal.zedhunt.com/group/#/' + id }">
                </div>
                <div id="server" class="input-prepend" data-bind="tooltip: { title: 'Server Information', placement: 'left' }">
                    <span class="add-on"><i class="icon-tasks"></i></span>
                    <input class="share-url span11" type="text" data-bind="attr: { value: serverAddress }">
                </div>

                <table class="table">
                    <tbody>
                    <tr><th class="gray-bg"><i class="icon-file-alt"></i> <span>Description</span></th></tr>
                    <tr><td><p data-bind="text: description"></p></td></tr>
                    <tr class="gray-bg"><th><i class="icon-check"></i> <span>Requirements</span></th></tr>
                    <tr><td data-bind="text: 'Karma: ' + details.requirements.karma, visible: details.requirements.karma != null"></td></tr>
                    <tr><td data-bind="text: 'Experience: ' + details.requirements.rank"></td></tr>
                    <tr><td data-bind="text: 'Play Style: ' + details.requirements.playstyle"></td></tr>
                    <tr class="gray-bg"><th><i class="icon-group"></i> <span>Members</span> <span class="badge badge-info" data-bind="text: 'Max ' + players"></span></th></tr>
                    <!-- ko foreach: $root.usersInRoom -->
                    <tr>
                        <td>
                            <span data-bind="text: $data.key, css: $data.value.online ? '' : 'offline' "></span>
                            <i class="icon-circle icon-small" data-bind="css: $data.value.online ? 'green' : 'red', attr: { title: $data.value.online ? 'online' : 'offline'}"></i>
                        </td>
                    </tr>
                    <!-- /ko -->
                    <tr data-bind="visible: voip.type != 'None'" class="gray-bg"><th><i class="icon-headphones"></i> <span data-bind="text: voip.type"></span></th></tr>
                    <tr data-bind="visible: voip.type != 'None'"><td data-bind="text: 'Address: ' + voip.address"></td></tr>
                    <tr data-bind="visible: voip.type != 'None'"><td data-bind="text: 'Password: ' + voip.password"></td></tr>
                    </tbody>
                </table>

            </div> <!-- /infobox -->
        </div> <!-- /right column -->
    </div>
</div>

{{#yield-scripts}}
    <script src="/js/group.js" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            var map = L.map('map').setView([1, 1], 2);
            L.tileLayer('http://ghxst.com/maps/tiles/{z}/{x}_{y}.png', {
                minZoom: 2,
                maxZoom: 6,
                zoom: 3
            }).addTo(map);

            //Tab hack to fix leaflet issue from loading in hidden div
            $('body').on('shown', '#tab-hack', function() {
                map.invalidateSize(false);
            })
        });
    </script>
{{/yield-scripts}}
