<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ZedHunt.com - Squad Matchmaking for DayZ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link href="/css/custom.css" rel="stylesheet" media="screen">
    <link href="/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="/css/select2.css" rel="stylesheet" media="screen">
    <link href="/css/leaflet.css" rel="stylesheet" />
    <link href="/css/alertify.core.css" rel="stylesheet" />
    <link href="/css/alertify.default.css" rel="stylesheet" />
    <!-- <link rel="shortcut icon" href="img/imp_logo.png"> -->
     <!--[if lte IE 8]>
       <link rel="stylesheet" href="/css/leaflet.ie.css" />
     <![endif]-->

    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script>
      var user = '{{session.username}}';
    </script>
  </head>
  <body>
    
    <header id="base-header" class="container">
        <a href="/">
            <div id="header-title" class="row-fluid pull-left">
                <img class="pull-left" src="/img/zedhunt_logo.png" />
                <!--
                <img class="pull-left" src="img/imp_logo.png" width="55px" />
                <h1 class="red">ZedHunt.com</h1>
                -->
                <span class="pull-left">Squad Matchmaking for DayZ</span>
            </div>
        </a>

        <div id="profile-links" class="pull-right">
            {{^session.username}}
            <div class="form-inline">
            <form data-bind="submit: loginUser">
              <input type="text" class="input-small" placeholder="Username" data-bind="value: loginUsername">
              <input type="password" class="input-small" placeholder="Password" data-bind="value: loginPassword">
              <button type="submit" class="btn btn-small btn-success">Login</button>
              <button href="#register-modal" class="btn btn-small btn-primary" role="button" data-toggle="modal">Register</button>
            </form>
            <span class="text-error" data-bind="text: loginMessage"></span>
            </div>
            {{/session.username}}
            
            {{#session.username}}
            <ul>
                <li>Logged in as&nbsp;<strong>{{session.username}}</strong></li>
                <!-- <li><a data-bind="css: { selected: selectedHeaderLink() == 'profile' }" href="/profile/#/{{session.username}}">Profile</a></li> -->
                <!-- <li><a data-bind="css: { selected: selectedHeaderLink() == 'mygames' }" href="#/profile/{{session.username}}/mygames">My Games</a></li> -->
                <li><a href="/logout">Logout</a></li>
            </ul> 
            {{/session.username}}
        </div>
    </header>
    
    <nav id="header-links" class="container">
        <ul>
            <li data-bind="css: { selected: selectedHeaderLink() == 'find' }"><i class="icon-search"></i><a href="/">Find</a></li>
            <li data-bind="css: { selected: selectedHeaderLink() == 'create' }"><i class="icon-cog"></i><a href="/create">Create</a></li>
            <li data-bind="css: { selected: selectedHeaderLink() == 'group' }, visible: selectedHeaderLink() == 'group'"><i class="icon-cogs"></i><a data-bind="attr: { href: selectedGroup() }" href="/match/" >Group</a></li>
            <!-- <li><i class="icon-group"></i><a data-bind="css: { selected: selectedHeaderLink() == 'friends' }" href="#/profile/{{session.username}}/friends">Friends</a></li>
            <li><i class="icon-trophy"></i><a data-bind="css: { selected: selectedHeaderLink() == 'trophies' }" href="#/profile/{{session.username}}/trophies">Trophies</a></li> -->
            <li class="pull-right"><span>Survivors Online: </span><span class="strong" data-bind="text: gamersOnline"></span></li>
        </ul>
    </nav>

    <div id="base-wrapper" class="container">
        {{{ yield }}}
    </div>

    <footer class="container">
        <ul>
            <li><a href="http://zedhunt.com/about">About</a></li>
            <li><a href="http://zedhunt.com/terms">Terms</a></li>
            <li><a href="http://zedhunt.com/privacy">Privacy</a></li>
            <li><a href="http://zedhunt.com/donate">Donate</a></li>
        </ul>
    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    {{#development}}
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/jquery.validate.min.js"></script>
    <script src="/js/lib/select2.js" type="text/javascript"></script>
    <script src="/js/lib/sammy.js" type="text/javascript"></script>
    <script src="/js/lib/knockout-2.2.0.js" type="text/javascript"></script>
    <script src="/js/lib/knockout-bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/lib/moment.min.js" type="text/javascript"></script>
    <script src="/js/lib/leaflet.js"></script>
    <script src="/js/lib/alertify.min.js"></script>
    {{/development}}

    {{^development}}
    <script src="/js/lib/dest/compressed.min.js" type="text/javascript"></script>
    {{/development}}

    <script src="/js/custom.js?{{version}}" type="text/javascript"></script>

    {{{ yield-scripts }}}



  </body>
</html>
