@font-face {
    font-family: 'OrbitronLight';
    src: url('../font/orbitron-light-webfont.eot');
    src: url('../font/orbitron-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/orbitron-light-webfont.woff') format('woff'),
         url('../font/orbitron-light-webfont.ttf') format('truetype'),
         url('../font/orbitron-light-webfont.svg#OrbitronLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OrbitronMedium';
    src: url('../font/orbitron-medium-webfont.eot');
    src: url('../font/orbitron-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/orbitron-medium-webfont.woff') format('woff'),
         url('../font/orbitron-medium-webfont.ttf') format('truetype'),
         url('../font/orbitron-medium-webfont.svg#OrbitronMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OrbitronBold';
    src: url('../font/orbitron-bold-webfont.eot');
    src: url('../font/orbitron-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/orbitron-bold-webfont.woff') format('woff'),
         url('../font/orbitron-bold-webfont.ttf') format('truetype'),
         url('../font/orbitron-bold-webfont.svg#OrbitronBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OrbitronBlack';
    src: url('../font/orbitron-black-webfont.eot');
    src: url('../font/orbitron-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/orbitron-black-webfont.woff') format('woff'),
         url('../font/orbitron-black-webfont.ttf') format('truetype'),
         url('../font/orbitron-black-webfont.svg#OrbitronBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

hr { 
    margin: 15px 0;
    border-top: 1px solid #272727;
    border-bottom: 1px solid #4D4D4D;
}

body {
    background: #222 url('/img/bg/bg_01.jpg') no-repeat fixed;
    margin-top: 10px;
    color: #ADADAD;
}
a,
a:hover,
a:active,
a:visited {
    color: #ADADAD;
}

/*
 * Bootstrap overrides */
.table td {
    border-top: 1px solid #575757;
}
.table th { border-top: none; }

/* 
 * Helpers */
.red {
    color: #AD2626;
}
.strong {
    font-weight: bold;
}
.no-underline {
    text-decoration: none;
}
.bold, .strong {
    font-weight: bold;
}
.gray-bg {
    background: #363636;
}
.gamepad {
    background: url('../img/gamepad.png');
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-top: 4px;
}
.fadeIn {
    opacity: 1 !important;
}
.fadeOut {
    opacity: 0 !important;
}

/*
 * Header */
#base-header {
    color: #A39D9D;
}

#header-title {
    font-family: 'OrbitronMedium', sans-serif;
    width: 400px;
    /* background: #EEE; */
    padding: 20px;
}
#header-title h1 {
    margin: 0;
}
#header-title img {
    margin-right: 10px;
}
#header-title span {
    background: rgba(19, 19, 19, 0.85);
    padding: 0px 20px;
    margin-left: 20px;
}
#header-links {
    font-family: 'OrbitronMedium', sans-serif;
}
#header-links ul {
    background: rgba(19, 19, 19, 0.85);
    list-style: none;
    margin: 0;
    padding: 10px 20px;
}
#header-links li {
    display: inline;
    margin: 0 10px 0 0;
    padding-bottom: 5px;
}
#header-links li a {
    color: #A39D9D;
    margin-left: 5px;
}
#header-links .selected {
    border-bottom: 2px solid #AD2626;
    padding-bottom: 5px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/*
 * Nav/Profile Links */
#profile-links {
    font-family: 'OrbitronMedium', sans-serif;
    font-size: 13px;
    padding: 10px 20px;
    color: #ADADAD;
    background: rgba(19, 19, 19, 0.85);
    /* background: #EEE; */
}
#profile-links ul {
    list-style: none;
    margin: 0;
}
#profile-links li {
    display: inline;
    margin: 0 10px 0 0;
}
#profile-links li a {
    color: #AD2626;
}
#profile-links .selected {
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#profile-links input {
    background-color: #161616;
    border: 1px solid #494949;
}
#profile-links form {
    margin: 0;
}

/*
 * Content Wrappers */
#base-wrapper {
    background: #353535;
    /* background: #FFF; */
    margin: 0 auto;
    /*
    -moz-box-shadow:    3px 3px 10px 0px #8F8F8F;
    -webkit-box-shadow: 3px 3px 10px 0px #8F8F8F;
    box-shadow:         3px 3px 10px 0px #8F8F8F;
    */
    border-radius: 2px;
}
#base-wrapper .content-tabs {
    height: 25px;
    padding: 10px;
    margin: 0 auto;
    font-family: 'OrbitronMedium', sans-serif;
    font-size: 12px;
}
#base-wrapper .content {
    padding: 10px;
    margin: 0 auto;
}
#base-wrapper .content #left-column {
    transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -webkit-transition:all .2s linear; 

}
#base-wrapper .content #right-column {
    float: right;
    transition:all .5s linear; 
     -o-transition:all .5s linear; 
     -moz-transition:all .5s linear; 
     -webkit-transition:all .5s linear;
    transition-delay: .2s;
     -o-transition-delay: .2s;
     -moz-transition-delay: .2s;
     -webkit-transition-delay: .2s;
}

/*
 * Content Wrapper Links */
#sub-links {
    padding-left: 20px;
    float: left;
}
#sub-links ul {
    list-style: none;
    margin: 5px 0 0 0;
}
#sub-links li {
    display: inline;
    margin: 0 10px 0 0;
}
#sub-links li a {
    margin-left: 3px;
}

/*
 * Find > Nodes */
#node-titles {
    font-size: 85%;
    font-weight: bold;
}
#node-titles .title-game {
    width: 70px;
    text-align: center;
}
#node-titles .title-description {

}
#node-titles .title-players {
    width: 50px;
    text-align: center;
}
#node-titles .title-actions {
    width: 100px;
    text-align: center;
}

.node {
    height: 70px;
    padding: 0 5px;
}
.node .inner-node {
    height: 60px;
    background: #161616;
    border: 1px solid #494949;
    
    /* background: #ffffff; /* Old browsers */
    /* background: -moz-linear-gradient(top,  #ffffff 0%, #dfdfdf 100%); /* FF3.6+ */
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dfdfdf)); /* Chrome,Safari4+ */
    /* background: -webkit-linear-gradient(top,  #ffffff 0%,#dfdfdf 100%); /* Chrome10+,Safari5.1+ */
    /* background: -o-linear-gradient(top,  #ffffff 0%,#dfdfdf 100%); /* Opera 11.10+ */
    /* background: -ms-linear-gradient(top,  #ffffff 0%,#dfdfdf 100%); /* IE10+ */
    /* background: linear-gradient(to bottom,  #ffffff 0%,#dfdfdf 100%); /* W3C */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */

}
.node .inner-node:hover,
.node .inner-node.selected {
    cursor: pointer;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #181818 0%, #000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#181818), color-stop(100%,#000)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #181818 0%,#000 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #181818 0%,#000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #18818 0%,#000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #181818 0%,#00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181818', endColorstr='#000',GradientType=0 ); /* IE6-9 */
}
.node .game-icon {
    margin: 6px 0px 0px 6px;
    width: 60px;
}
.node .node-description {
    padding: 10px 0 3px 4px;
    display: block;

}
.node .node-description a {
    color: #444;
    text-decoration: none;
}
.node .node-description .node-desc-text1 {
    font-weight: bold;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.node .node-description .node-desc-text2 {
    color: #6F6F6F;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.node .node-description .node-desc-type {
    background: steelblue;
    color: white;
    padding: 2px 4px;
}
.node .node-players {
    width: 90px;
    font-size: 18px;
    line-height: 62px;
    text-align: center;
}
.node .node-actions {
    margin: 16px 12px 0px 6px;
}

/*
 * Find > Info/Details Box on right column */
#infobox {
    background: #222;
    border: 1px solid #575757;
    padding: 15px;
    margin: 5px;
    transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -webkit-transition:all .2s linear; 
}
.infobox-title {
    font-size: 85%;
    margin-left: 15px;
}
#infobox .desc-type {
    background: steelblue;
    color: white;
    padding: 0px 4px;
}
#infobox .share-url {
    background: #5A5A5A;
    color: #EAEAEA;
    margin-bottom: 10px;
    border: none;
}
#infobox .add-on {
    background-color: #3D3D3D;
    border: 1px solid #494949;
}
#infobox dt {
    margin-top: 10px;
}
#infobox h4 span {
    padding: 2px 5px;
}
#infobox dt span {
    background: #CACACA;
    padding: 2px 5px;
}
#infobox table {
    margin-bottom: 0px !important;
}
#infobox input.chat-input {
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}
#chat {
    color: whiteSmoke;
    background: #5A5A5A;
    height: 100px;
    padding: 5px;
}
#infobox input {
    background-color: #1A1A1A;
    border: 1px solid gray;
}

/*
 * Create Content */
#create-match {
}
#create-match .title,
#view-match .title {
    font-family: 'OrbitronMedium', sans-serif;
}
#create-match-inner,
#view-match-inner {
    background: #414141;
    padding: 15px;
}
#games-list {
}

/*
 * Profile Content */
#profile {

}
#profile .title {
    font-family: 'OrbitronMedium', sans-serif;
}
#profile .content {
    padding: 15px;
}
#profile #profile-left {
    padding: 15px;
    background: #414141;
}
#profile #profile-right {
    padding: 15px;
    background: #414141;
}
#profile .nav-pills > .active > a,
#profile .nav-pills > .active > a:hover {
    background-color: #222;
}
#profile .nav > li > a:hover {
    background-color: #353535;
}
    

/*
 * Footer */
footer {
    padding: 10px 0;
}

footer ul {
    text-align: center;
}
footer li {
    display: inline;
    list-style: none;
    margin: auto 2px auto 6px;
}
